<div class="container">
  <h1>投稿一覧</h1>
  <div id="map"></div>
</div>

<style>
  #map {
    width: 100%;
    height: 400px;
  }
</style>


<script>
  function initMap(){
    let map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 49, lng: 0 },
      zoom: 1
    });

    <% @sanctuarys.each do |sanctuary| %>
      const infowindow_<%= sanctuary.id %> = new google.maps.InfoWindow({
        content: '<h6><%= link_to sanctuary.name, user_sanctuary_path(sanctuary) %></h6><%= sanctuary.user.name %><br><%= image_tag sanctuary.user.get_image(72, 72) %>',
      });

      const marker_<%= sanctuary.id %> = new google.maps.Marker({
        position: {lat: <%= sanctuary.latitude ||= 0 %>, lng: <%= sanctuary.longitude ||= 0 %>},
        map,
        title: "<%= sanctuary.name %>",
      });

      marker_<%= sanctuary.id %>.addListener("click", () => {
        infowindow_<%= sanctuary.id %>.open({
          anchor: marker_<%= sanctuary.id %>,
          map,
        });
      });
    <% end %>
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>