<h1>聖地詳細</h1>
<div>
  <%= image_tag @sanctuary.get_image %>
  <p>聖地名：<%= @sanctuary.name %></p>
  <p>感想：<%= @sanctuary.impression %></p>
  <p>投稿ユーザー画像：<%= image_tag @sanctuary.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @sanctuary.user.name %></p>
  <p>投稿日時：<%= @sanctuary.created_at.strftime('%Y/%m/%d') %></p>
  <% if @sanctuary.user == current_user %>
    <%= link_to "削除",sanctuary_path(@sanctuary), method: :delete %>
  <% end %>

  <div>
  <p>コメント件数：<%= @sanctuary.post_comments.count %></p>
  <% @sanctuary.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@sanctuary, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
  <% if @sanctuary.favorited_by?(current_user) %>
  <p>
      <%= link_to sanctuary_favorites_path(@sanctuary), method: :delete do %>
        ♥<%= @sanctuary.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to sanctuary_favorites_path(@sanctuary), method: :post do %>
        ♡<%= @sanctuary.favorites.count %> いいね
      <% end %>
    </p>
  <% end %></div>

:
:
