<!-- ユーザーの投稿一覧 -->
<% @users.each do |user| %>
  <div>
    <p>ユーザー名：<%= user.name %></p>
    <p>メールアドレス：<%= user.email %></p>
    <p>sns：<%= user.sns %></p>
    <p>プロフィール画像：<% if post.user.image.attached? %>
             <%= image_tag post.user.image %>
                <% else %>
            <%= image_tag no.user.png %>
                <% end %></p>
    <p>自己紹介：<%= user.introduction %></p>
<% end %>

<h4>投稿</h4>
<%= link_to new_user_sanctuary_path do %>
<i class="fas fa-plus"></i>
<div class="pull-right margin-bottom">
       <%= link_to user_sanctuary_path do %>
             <button class="btn btn-primary" >
              一覧を見る
             </button>
       <% end %>
</div>
<% end %>