<!DOCTYPE html>
<html lang="jp">
<html>
  <head>
    <meta charset="UTF-8">
    <title>Aventura</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <script src="https://kit.fontawesome.com/b19cc7d22f.js" crossorigin="anonymous"></script>
  <% if user_signed_in? %>
  <!--ユーザーがログインしている時 -->
  <div class="container">
   <div class="page-header">
    <ul class="logo">
     <%=link_to "LOGO", root_path, class: "btn btn-light" %>
      <nav class="navbar navbar-light bg-light">
       ようこそ、<%= current_user.name %>さん
        <div class="button1">
          <%= link_to"MY画面", user_user_path(current_user),class: "btn btn-light" %>
          <%= link_to "聖地一覧",user_sanctuarys_path,class: "btn btn-light"  %>
          <%= link_to "投稿一覧",user_sanctuarys_path,class: "btn btn-light"  %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-light" %>
        </div>
      </nav>
    </ul>
   </div>
   <% elsif admin_signed_in? %>
   <!-- 管理者がログインしている時 -->
  <div class="page-header">
   <ul class="logo">
    <%=link_to "LOGO", root_path, class: "btn btn-light" %>
     <nav class="navbar navbar-light bg-light">
     ようこそ!
      <div class="button2">
       <%= link_to "聖地一覧",admin_sanctuarys_path,class: "btn btn-light"  %>
       <%= link_to "ユーザー一覧",admin_users_path,class: "btn btn-light" %>
       <%= link_to "ジャンル一覧",admin_genres_path,class: "btn btn-light" %>
       <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: "btn btn-light"  %>
      </div>
     </nav>
    </ul>
  </div>
  <% else %>
  <!-- ログインしていない時 -->
  <div class="page-header">
    <ul class="logo">
     <%=link_to "LOGO", root_path, class: "btn btn-light" %>
     <%= link_to  "About",user_homes_about_path,class: "btn btn-light" %>
     <%= link_to "聖地一覧",admin_sanctuarys_path,class: "btn btn-light"  %>
     <%= link_to  "新規登録",new_user_registration_path,class: "btn btn-light" %>
     <%= link_to "ログイン", new_user_session_path,class: "btn btn-light" %>
    </ul>
  </div>
  <% end %>

  </header>
  </div>
   <main>
    <%= flash[:notice] %>
    <div class="container">
     <%= yield %>
     <table></table>
    </div>
   </main>
  <footer class="bg-dark text-white pt-5 pb-4">
   <p>※このサイトは楽しく情報共有できるためのものです。不適切な書き込みがある場合は削除することがあります。ご理解ください。</p>
  </footer>
  </body>

</html>
